header {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
 }

 img {
  width: 100%;
  object-fit: contain;
 }
 
 body {
 margin: 1%;
 }
 
 h1 {
 font-weight: bold;
 font-size: 4vh;
 }
 
 table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  padding: 0.4%;
  text-align: left;
}

.helligdag {
 color: red;
}

.overlay-text {
 color: var(--primaryColor);
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 font-family: "Caveat", cursive;
}

.caveat-caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

.today {
  background-color: beige;
}

input {
  width: 100%;
  min-height: 9vh;
  box-sizing: border-box;
  margin-top: 0px;
  resize: none;
  border: 0px solid #ddd;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 38;
  font-style: normal;
  font-size: 1vh;
}